---
import { Icon } from '@astrojs/starlight/components'

import type { OperationURL, PathItemOperation } from '../../libs/operation'

import OperationMethod from './OperationMethod.astro'
import OperationUrl from './OperationUrl.astro'

interface Props {
  method: PathItemOperation['method']
  path: PathItemOperation['path']
  urls?: OperationURL[]
}

const { method, path, urls } = Astro.props
---

<div class="not-content">
  {
    path ? (
      urls && urls.length > 0 ? (
        <details class="operation-description-urls">
          <summary>
            <OperationMethod {method} {path} />
            <Icon class="caret" name="right-caret" size="1.25rem" />
          </summary>
          <ul>
            {urls.map(({ description, url }) => (
              <OperationUrl {description} {url} />
            ))}
          </ul>
        </details>
      ) : (
        <div class="operation-description">
          <OperationMethod {method} {path} />
        </div>
      )
    ) : (
      <OperationMethod {method} />
    )
  }
</div>

<style>
  .operation-description,
  .operation-description-urls {
    background-color: var(--astro-code-color-background);
    border: 1px solid var(--sl-color-gray-5);
    font-size: var(--sl-text-sm);
    margin-bottom: 2.5rem;
  }

  summary {
    color: var(--sl-color-gray-1);
    cursor: pointer;
    justify-content: space-between;
    list-style-type: none;
  }

  summary:hover {
    color: var(--sl-color-gray-2);
  }

  summary,
  .operation-description {
    align-items: center;
    display: flex;
    font-family: var(--__sl-font-mono);
    padding: 0.8rem 1rem;
  }

  summary::marker,
  summary::-webkit-details-marker {
    display: none;
  }

  .caret {
    flex-shrink: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .caret {
      transition: transform 0.2s ease-in-out;
    }
  }

  details[open] .caret {
    transform: rotateZ(90deg);
  }

  :global([dir='rtl']) .caret {
    transform: rotateZ(180deg);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style-type: none;
    padding-block-start: 0.5rem;
    padding-block-end: 1rem;
    padding-inline: 1rem;
  }
</style>
